@import "../../styles/global.scss";
.page-header {
  display: flex;
  padding: 5%;
  background: map-get($theme-colors, "purple");
  border-radius: 15px;
  h6 {
    flex: 6;
    text-transform: uppercase;
    letter-spacing: 1px;
    // margin-left: 5%;
    font-weight: 900;
    color: map-get($theme-colors, "white");
  }
  button {
    flex: 1;
    font-weight: 700;
    // text-transform: uppercase;
  }
}
